.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: hsl(228, 33%, 97%);
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

.outer-div {
  /* border: 5px solid red; */
  width: 50vw;
  position: relative;

  margin: auto;
}
.comment-container {
  display: grid;
  grid-template-areas: "like-dislike-container comment-content";
  width: 47vw;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 8px;
  column-gap: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.comment-child-container {
  display: grid;
  grid-template-areas: "line like-dislike-container comment-content";
  width: 43vw;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 8px;
  column-gap: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  
  /* right: -30px; */
  float: right;
}

.line{
  border-right: 1px solid red ;
  width: 1px; 
  height: 100px;
  grid-area: "line";
}
.like-dislike-container {
  grid-area: "like-dislike-container";
  display: grid;
  grid-template-areas: "like", "count", "dislike";
  row-gap: 5px;
  background-color: hsl(223, 19%, 93%);
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 8px;
  margin-top: 5px;
  color: hsl(239, 57%, 85%);
  min-width: 17.8px;
}

.like {
  grid-area: "like";
  text-align: center;
  font-weight: bold;
}

.like:hover {
  color: hsl(212, 24%, 26%);
  cursor: pointer;
}

.count {
  grid-area: "count";
  text-align: center;
  font-weight: bold;
  color: hsl(238, 40%, 52%);
}

.dislike {
  grid-area: "dislike";
  text-align: center;
  font-weight: bolder;
}
.dislike:hover {
  color: hsl(357, 100%, 86%);
  cursor: pointer;
  font-weight: bolder;
}
.comment-content {
  grid-area: "comment-content";
}
.comment-text {
  grid-area: "comment-text";
}

.comment-header {
  grid-area: "comment-header";
  display: grid;
  grid-template-areas: "user-details time reply";
  padding-bottom: 20px;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 10px;
}
.user-details {
  grid-area: "user-details";
  display: grid;
  grid-template-areas: "avatar user-name";
  column-gap: 20px;
  width: fit-content;
}
.avatar {
  grid-area: "avatar";
  width: 35px;
  height: 35px;
  padding-right: -100px;
  vertical-align: middle;
}
.user-name {
  grid-area: "user-name";
  width: fit-content;
  margin: auto;
  color: hsl(212, 24%, 26%);
  font-weight: bold;
}
.time {
  grid-area: "time";
  margin: auto;
  margin-left: 0px;
  color: hsl(211, 10%, 45%);
}

.reply {
  grid-area: "reply";
  margin: auto;
  margin-right: 0px;
  color: hsl(238, 40%, 52%);
  font-weight: bold;
}

.reply:hover{
  cursor: pointer;
  color : hsl(239, 57%, 85%);
}

.comment-field-container {
  display: grid;
  grid-template-areas: "avatar textfield send-btn";
  width: 47vw;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 8px;
  column-gap: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.comment-field-child-container {
  display: grid;
  grid-template-areas: "avatar textfield send-btn";
  width: 43vw;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 8px;
  column-gap: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  
  /* right: -30px; */
  float: right;
}
.textfield textarea {
  grid-area: "textfield";
  width: max-content;
  width: 27vw;
  height: 100px;
  resize: none;
  padding: 5px;
}

.send-btn {
  grid-area: "send-btn";
}

.activeUser-btn-container {
  display: grid;
  grid-template-areas: "delete-btn edit-btn";
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  width: 11vw;
}

.edit-btn {
  grid-area: "edit-btn";
  font-size: 1px;
  color: hsl(238, 40%, 52%);
}

.delete-btn {
  grid-area: "delete-btn";
  width: 5px;
}
